
h1 {
  text-align: center;
  margin: 120px 0px 10px 40px;
  font-size: 45px;  
  font-family: 'Arizonia', cursive;
  color: black;
  vertical-align: top
}

.container {
  margin-left: 0px;
}

#fork-me {
  position: absolute;
}

.ga {
  margin-top: -10px;
}

.bio {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: black;
  margin-left: 40px;
  line-height: 135%;
}

body {
  background-image: url("https://github.com/jeffthestampede/jeffthestampede.github.com/blob/master/images/golf.jpg?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

ul {
  list-style-type: none;
  margin-left: 40px;
}

ul li {
  float: left;
  margin-left: 2px;
}

.profile {
  border: 8px solid white;
  border-radius: 10px;
  margin: 50px 0px 0px 50px;
}